* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    width: 100vw;
    min-height: 100vh;
    background: #e5e5e5;
}

.container {
    min-height: 600px;
    width: 400px;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
}

.score {
    margin-top: 30px;
    font-size: 32px;
}

.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 400px;
}

.cookie img {
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: ease .5s;
}

.cookie img:hover {
    transform: scale(1.1);
}
